<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
<h2 id="dd-heading">Deliveries for <%# if params[:search] %>: Discipline:<%#= params[:search][:tagged_with_disciplines]%>, Delivery Status:<%#= Status.find(params[:search][:deliveries_status_id_like]).name %> <%# else %> All Deliverables<%# end %></h1>

<%= will_paginate @deliverables %>

<fieldset>
  <%= form_tag manage_deliverables_path, :id => 'management-form', :method => :put do %>
  <table class ="table">
    <tbody>
      <tr>
        <th class="first"><%= check_box_tag 'select-all' %></th>
        <th>Status</th>
        <!-- <th><%#= order @search, :by => :deliveries_planned_date %></th> -->
        <th>Planned Date</th>
        <th>Deliverable Number</th></th>
        <th>Progress</th>
        <th>Deliverable Tags</th>
        <th class="last"/>
      </tr>
      <%#= form_tag manage_deliverables_path, :id => 'management-form', :method => :put do %>
        <%= error_messages_for :delivery %>
        <% @deliverables.each do |deliverable|%>
          <% deliveries = deliverable.deliveries %>
          <% if params[:search] && params[:search][:deliveries_with_progress] != "" %>
            <% deliveries = deliveries.select{|d| d.progress == params[:search][:deliveries_with_progress]}%>
          <% end %>
          <% deliveries.each do |delivery| %>
            <% prog_array = Delivery::PROGRESSES  %>
            <% if params[:search] %>
              <% if "#{delivery.status_id}" == params[:search][:deliveries_status_id_equals] || params[:search][:deliveries_status_id_equals] == "" || params[:search] == nil %>
            
                <%= render :partial => "deliverables_tr", :locals => {:deliverable => deliverable, :delivery => delivery, :prog_array => prog_array} %>

              <% end %>
            <% else %>
                <%= render :partial => "deliverables_tr", :locals => {:deliverable => deliverable, :delivery => delivery, :prog_array => prog_array} %>
            <% end %>    
          <% end %>
        <% end %>
         

        <% if can? :edit, Delivery  %><%= text_field_tag 'actual_date_select', nil, :place_holder => 'Date' %><%= submit_tag "Complete" %><%= submit_tag "Incomplete" %><%= submit_tag "Edit" %><%= submit_tag "Delete", :confirm => true %>
        <% end %> 
    <%# end %>
    <tbody>
    

  </table>


<div class="actions-bar wat-cf">
  <div class="actions">
    <% if can? :edit, Delivery %><%= submit_tag "Complete" %><%= submit_tag "Incomplete" %><%= submit_tag "Edit" %><%= submit_tag "Delete", :confirm => 'Are you sure?' %>
    <% end %>
    <% end  %>
  </div>
  
  <%= will_paginate @deliverables %>
  
</div>
</fieldset>


<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#actual_date_select").datepicker({dateFormat: "dd/mm/yy"});
  });

</script>
