<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
<h2 id="dd-heading">Deliveries for <%# if params[:search] %>: Discipline:<%#= params[:search][:tagged_with_disciplines]%>, Delivery Status:<%#= Status.find(params[:search][:deliveries_status_id_like]).name %> <%# else %> All Deliverables<%# end %></h1>

<%= form_for @search, :url => deliverables_path, :html => {:method => :get}  do |f| %>
  <ol class="form-list">
	<li>
      <%= f.label :deliveries_status_id_equals, "Status" %>
      <%= f.collection_select :deliveries_status_id_equals, Status.all, :id, :name, :include_blank => true %>
  </li>
  <li>
	  <%= f.label :tagged_with_disciplines, "Disciplines" %>
	  <%= f.collection_select :tagged_with_disciplines, Deliverable.discipline_counts, :name, :name, :include_blank => true %>
	</li>
	<li>
	  <%#= f.label :tagged_with, "Tags" %>
	  <%#= f.collection_select :tagged_with, Deliverable.tag_counts, :name, :name, :include_blank => true %>
	</li>
  <li>
	  <%= f.label :tagged_with_disciplines, "Disciplines" %>
	  <%= f.collection_select :tagged_with_disciplines, Deliverable.discipline_counts, :name, :name, :include_blank => true %>
	</li>		  
    <%= f.submit "Search" %>  
  </ol>
  
  <p><%= sort_link @search, :deliveries_planned_date %> |</p>

<% end %>

<%= will_paginate @deliverables %>

<fieldset>
  <table class ="data-table" id ="ddtable">
    <tr>
      <th><%= check_box_tag 'select-all' %></th>
      <th>Status</th>
      <!-- <th><%#= order @search, :by => :deliveries_planned_date %></th> -->
      <th>Planned Date</th>
      <th>Deliverable Number</th></th>
      <th>Progress</th>
      <th>Deliverable Tags</th>
    </tr>
    <%= form_tag manage_deliverables_path, :id => 'management-form', :method => :put do %>
      <%= error_messages_for :delivery %>
      <% @deliverables.each do |deliverable|%>
        <% deliverable.deliveries.each do |delivery| %>
          <% if params[:search] %>
            <% if "#{delivery.status_id}" == params[:search][:deliveries_status_id_equals] or params[:search][:deliveries_status_id_equals] == "" or params[:search] == nil %>
              <tr>
      	        <td class="table-data"><%= check_box_tag "deliveries_ids[]", delivery.id, false, :class => 'deliveries-ids' %></td>
      	        <td class="table-data"><%=h delivery.status.name %></td>
      	        <td class="table-data"><%=h delivery.planned_date.to_date %></td>
      	        <td class="table-data"><%=h deliverable.number%></td>
                <td class="table-data">
                  <% if delivery.actual_date? %> 
                    <% if delivery.actual_date < delivery.planned_date %>
                      <div id="early">
                        Complete - EARLY
                      </div>
                    <% else %>
                      <div id="complete">
                        Complete
                      </div>
                    <% end %>
                  <% elsif delivery.planned_date < Date.today %> 
                    <div id="overdue">
                      Not Complete - OVERDUE
                    </div>
                  <% else %> 
                    Not Complete
                  <% end %>
                </td>
                <td>
                  <%=h deliverable.discipline_list %>,<%=h deliverable.tag_list %>
                </td>
                <td>
                  <% if can? :edit, Delivery  %>
                    <%= link_to "Edit", edit_deliverable_delivery_path(:id => delivery.id, :deliverable_id => deliverable.id)%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
    	        <td class="table-data"><%= check_box_tag "deliveries_ids[]", delivery.id, false, :class => 'deliveries-ids' %></td>
    	        <td class="table-data"><%=h delivery.status.name %></td>
    	        <td class="table-data"><%=h delivery.planned_date.to_date %></td>
    	        <td class="table-data"><%=h deliverable.number%></td>
              <td class="table-data">
                <% if delivery.actual_date? %> 
                  <% if delivery.actual_date < delivery.planned_date %>
                    <div id="early">Complete - EARLY</div>
                  <% else %>
                    <div id="complete">Complete</div>
                  <% end %>
                <% elsif delivery.planned_date < Date.today %> 
                  <div id="overdue">Not Complete - OVERDUE</div>
                <% else %> 
                  Not Complete
                <% end %>
              </td>
              <td>
                <%=h deliverable.discipline_list %>,<%=h deliverable.tag_list %>
              </td>
              <td>
                <% if can? :edit, Delivery  %>
                  <%= link_to "Edit", edit_deliverable_delivery_path(:id => delivery.id, :deliverable_id => deliverable.id)%>
                <% end %>
              </td>
            </tr>
          <% end %>    
        <% end %>
      <% end %>
         

      <% if can? :edit, Delivery  %><%= text_field_tag 'actual_date_select', nil, :place_holder => 'Date' %><%= submit_tag "Complete" %><%= submit_tag "Incomplete" %><%= submit_tag "Edit" %><%= submit_tag "Delete", :confirm => 'Are you sure?' %>
      <% end %> 
      <% end %>
    

  </table>

<%= will_paginate @deliverables %>
</fieldset>


<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#actual_date_select").datepicker({dateFormat: "dd/mm/yy"});
  });

</script>
