<tr>
  <td class="table-data"><%= check_box_tag "deliveries_ids[]", delivery.id, false, :class => 'deliveries-ids' %></td>
  <td class="table-data"><%=h delivery.status.name %></td>
  <td class="table-data"><%=h delivery.planned_date.to_date %></td>
  <td class="table-data"><%=h deliverable.number%></td>
  <td class="table-data">
    <% if delivery.progress == "complete" %>
      <div id="complete">
        <%= delivery.progress %>
      </div>
    <% elsif delivery.progress == "overdue" %>   
      <div id="overdue">
      <%= delivery.progress %>
      </div>
    <% elsif delivery.progress == "due" %>
      <div id="overdue">
      <%= delivery.progress %>
      </div>
    <% else %>
      <div>
      <%= delivery.progress %>     
      </div>
    <% end %>
  </td>
  <td>
    <%=h deliverable.discipline_list %>,<%=h deliverable.tag_list %>
  </td>
  <td class="last">
    <% if can? :edit, Delivery  %>
      <%= link_to "Edit", edit_deliverable_delivery_path(:id => delivery.id, :deliverable_id => deliverable.id)%>
    <% end %>
  </td>
</tr>



