.group
  = f.label :number, t("activerecord.attributes.deliverable.number", :default => "Number"), :class => :label
  = f.text_field :number, :class => 'text_field'
  %span.description Enter Deliverable Number / Ref
.group
  = f.label :title, t("activerecord.attributes.deliverable.title", :default => "Title"), :class => :label
  = f.text_field :title, :class => 'text_field'
  %span.description Ex: Enter Deliverable Description
  %br
  %br
  .group
    = f.label :discipline, t("activerecord.attributes.deliverable.tags", :default => "Disciplines"), :class => :label
    = f.select(:discipline_list, Deliverable.discipline_counts, :class => 'text_field')
    %span.description Ex: Select Discipline
  %br    
  .group
    = f.label :tags, t("activerecord.attributes.deliverable.tags", :default => "Tags"), :class => :label
    = f.select(:tag_list, Deliverable.tag_counts, :class => 'text_field')
    %span.description Ex: Select Tag
  
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), deliverables_path, :class => "text_button_padding link_button"
