<h1>Editing deliverable</h1>

<% form_for(@deliverable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Discipline_Tags %><br />
    <%= f.text_field :discipline_list %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>