<div id="right-column-1">
	
  <div id="rc1h">
    <h1>Listing deliverables</h1>
	
	<% form_tag request.path, :method => 'get' do %>
	  <% content_tag :label do %>
	    Search term:
	    <%= text_field_tag :search, params[:search] %>
	  <% end %>
	<%= submit_tag 'Search' %>
	<% end %>

    <div id="rc1l">
      <% if can? :create, Deliverable  %><%= link_to 'New deliverable', new_deliverable_path %><% end %>
      <!-- <%#= link_to_remote "New Deliverable", 
               :url => { :action => "show", :id => Deliverable.id },
               :update => "right-column-2"%> -->
    </div>
  </div>
	
  <div id="rc1c"><br>
	<%= will_paginate @deliverables %><br>
	<table>
	  <tr>
		<th>Select</th>
	    <th>Number</th>
	    <th>Title</th>
	    <th>Deliveries</th>
	    <th></th>
	  </tr>
	 <% form_tag manage_deliverables_path, :method => :put do %>

	    <% @deliverables.each do |deliverable| %>
	    <tr>
		  <% if can? :destroy, Deliverable  %><td><%= check_box_tag "deliverables_ids[]", deliverable.id %></td><% end %>
	      <td><%=h deliverable.number %></td>
	      <td><%=h deliverable.title %></td>
	      <td>
	          <% deliverable.deliveries.each do |delivery| %>
	            <span><%= delivery.status.name %></span>
	          <% end %>
	      </td>
	      <td id="lt-deliverable"><%= link_to 'Show', deliverable %></td>
	      <% if can? :edit, Deliverable  %>
	        <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
	      <% end %>
	      <%# if can? :destroy, Deliverable  %>
	        <!-- <td><%#= link_to 'Destroy', deliverable, :confirm => 'Are you sure?', :method => :delete %></td> -->
	      <%# end %>
	    </tr>
	    <% end %>
	    <% if can? :destroy, Deliverable  %><%= submit_tag "Delete", :confirm => 'Are you sure?' %><% end %>
	 <% end %>
	</table><br>
	<%= will_paginate @deliverables %><br>
  </div>

  </div>

  <div id="right-column-2">
		<div id="rc2h">	
        </div>
  		<div id="rc2c">
  			
  		</div>
</div>

