<h2>Deliveries for <%= @tag %></h2>
<div id="placeholder" style = "width:950px; height:500px"> </div>
<script type="text/javascript" charset="utf-8">
<% deliveries = @deliveries %>
var array = <%=h array_or_string_for_javascript(Delivery.planned_date_count(deliveries)) %>;
var array2 = <%=h array_or_string_for_javascript(Delivery.actual_date_count(deliveries)) %>;
var cumulativeArray =  toMultiDimensionalArray(array, 2);
var cumulativeArray2 =  toMultiDimensionalArray(array2, 2);
var options = {
	series: {
		lines: { show: true },
		points: { show: true }
	},

	xaxis: {
		mode: "time",
		timeformat: "%b%y",
		min:1291161600000,
		max:1354320000000,
		ticks: 12
	},

	yaxis: {
		min: 0,
		max: <%= @deliveries.count + 500 %>,
		ticks: 10
	}
};

$(function (){
  $.plot($("#placeholder"), [ { label: "Planned Deliveries", data: cumulativeArray  },
                              { label: "Actual Deliveries", data: cumulativeArray2  }  ], options);	
});


</script>

<div id="name">
	<% deliveries = @deliveries %>
  Number of complete deliveries <%= Delivery.complete(deliveries).to_i %><br>
	Percentage Complete: <%= Delivery.percentage_complete(deliveries).round(1) %>%<br><br>
	To be on schedule, <%=h Delivery.bsb(deliveries) %> Deliveries will have to be made<br>
  Number of overdue Deliveries <%= link_to Delivery.overdue(deliveries).count %><br>
  Total number of deliveries: <%= @deliveries.count %> <br><br>
  Number of late deliveries: <%= Delivery.late(deliveries).count %><br>
  Number of deliveries due today: <%= Delivery.due_today(deliveries).count %><br>
  Number of deliveries due in the next week: <%= Delivery.due_in_next_week(deliveries).count %><br>
  Number of deliveries due in the next two weeks: <%= Delivery.due_in_next_two_weeks(deliveries).count %><br>
  Number of deliveries delivered early: <%= Delivery.early(deliveries).count %><br>
  Total number of deliverables: <%= @deliverables.count %>
</div><br><br>

<h2>Deliverables List</h1>


<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
  </tr>
  <% @deliverables.each do |deliverable| %>
  <tr>
    <td><%=h deliverable.number %></td>
    <td><%=h deliverable.title %></td>
    <td><%= link_to 'Show', deliverable %></td>
    <% if can? :edit, Deliverable  %><td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td><% end %>
    <% if can? :destroy, Deliverable  %><td><%= link_to 'Destroy', deliverable, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
  <% end %>
</table><br>