<p>
  <b>Number:</b>
  <%=h @deliverable.number %>
</p>

<p>
  <b>Title:</b>
  <%=h @deliverable.title %>
</p>

<p>
  <b>Discipline:</b>
  <%=h @deliverable.discipline %>
</p>


<%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
<%= link_to 'Back', deliverables_path %>