<div id="container">
	<% if current_user %>
	  <%= link_to "Edit Profile", edit_user_path (:current)%>
	  <%= link_to "Logout", logout_path %>
	  <%= link_to "Deliverables Schedule", deliverables_path %>
	<% else %>
	  <%= link_to "Register", new_user_path %>  
    <%= link_to "login", login_path %>
  <% end %>
	<div id="login-form">
		
		<%= render :patial => "users/new"%>
		
	</div>
	
</div>