<%= flash[:notice] %>
<h1>Statuses</h1>
<table border="0" cellspacing="5" cellpadding="5">
	<% @statuses.each do |status|%>
	<tr><td><%=status.position %></td>
	    <td><%= status.name %></td>
	    <td><%= link_to "Details", status_path(status) %></td>
	    <td><%= link_to "edit", edit_status_path(status) %></td>
	</tr>
	<% end %>
</table>


