<%= flash[:notice] %>

<h2><%=h(@status.name)%>Status</h2>
<div>
	<%= @status.description %>
</div>

<%= link_to "back", statuses_path %>
<% if can? :edit, Status  %><%= link_to "edit", edit_status_path(@status) %><% end %>

