</br>
<%# unless params[:deliverable_id] %>
  <%# form_tag request.path, :method => 'get' do %>
    <%# content_tag :label do %>
      <!-- Search term: -->
      <%#= text_field_tag :search, params[:search] %>
      <%#= text_field_tag :search, params[:discipline_list] %><%#= text_field_tag :search, params[:tag_list] %>
    <%#end %>
  <%#= submit_tag 'Search' %>
<%# end %>


  <%#= will_paginate @deliveries %><!-- <br> -->
<%# end %>

<% form_for @search do |f| %>
  <ol class="form-list">
	<li>
      <%= f.label :status_id_equals, "Status" %>
      <%= f.collection_select :status_id_equals, Status.all, :id, :name, :include_blank => true %>
    </li>

		<!-- <li>
		  <%#= f.label :tagged_with_disciplines, "Disciplines" %>
		  <%#= f.collection_select :tagged_with_disciplines, Deliverable.discipline_counts, :name, :name, :include_blank => true %>
		</li> -->
    <li>
	
	  
      <%= f.submit "Search" %>  
    </li>
  </ol>

<% end %>

<%= will_paginate @deliveries %>
<fieldset>
<table id ="ddtable">
<tr>
  <th><%= check_box_tag 'select-all' %></th>
  <th>Status</th>
  <th><%= order @search, :by => :planned_date %></th>
  <% unless params[:deliverable_id] %><th>Deliverable</th><%end%>
  <th>Progress</th>
  <% unless params[:deliverable_id] %><th>Deliverable Tags</th><% end %>
</tr>

<% path = params[:deliverable_id] ? complete_deliverable_deliveries_path : complete_deliveries_path %>

  <% form_tag path, :id => 'management-form', :method => :put do %>
    <!-- <tr><td></td></tr> -->
    <% @deliveries.each do |delivery|%>
      <% unless params[:deliverable_id] %>
        <% @deliverable = Deliverable.find(delivery.deliverable_id) %>
      <% end %>
      <tr>
	    <td class="table-data"><%= check_box_tag "deliveries_ids[]", delivery.id, false, :class => 'deliveries-ids' %></td>
	    <td class="table-data"><%=h delivery.status.name %></td>
	    <td class="table-data"><%=h delivery.planned_date.to_date %></td>
	    <% unless params[:deliverable_id] %><td class="table-data"><%=h @deliverable.number%></td><% end %>
         <td class="table-data"><% if delivery.actual_date? %> 
	             Complete <% if can? :edit, Delivery  %><%#= check_box_tag "deliveries_ids[]", delivery.id %><%end %>
	         <% else %> 
	             Not Complete <% if can? :edit, Delivery  %><%#= check_box_tag "deliveries_ids[]", delivery.id %><%end %>
             <% end %></td>
             
             <% unless params[:deliverable_id] %><td><%=h @deliverable.discipline_list %>,<%=h @deliverable.tag_list %></td><% end %>
         <td><% if can? :edit, Delivery  %>
               <%= link_to "Edit", edit_deliverable_delivery_path(:id => delivery.id, :deliverable_id => @deliverable.id)%>
         </td><% end %>
       </tr> 
           <% end %>
         
      
         <% if can? :edit, Delivery  %><%= submit_tag "Complete" %><%= submit_tag "Incomplete" %><%= submit_tag "Delete", :confirm => 'Are you sure?' %><% end %>  
      <% end %>
    

</table>
</fieldset>

<% unless params[:deliverable_id] %>
  <%= will_paginate @deliveries %><br>
<% end %>
<%# end %>


<% if params[:deliverable_id] %>
	  <%= link_to 'back', deliverable_path(@deliverable) %>
<%end %>
<% if params[:deliverable_id]%>
	  <% if can? :create, Delivery  %><%= link_to 'New delivery', new_deliverable_delivery_path(:deliverable_id => @deliverable)  %>
<% end %>
<% end %>
