<h1>Edit Delivery</h1>

<% form_for([@deliverable, @delivery]) do |f| %>
  <%= f.error_messages %>

  <p>

    <%= f.date_select ("planned_date", :start_year => 2009) %>
  </p>
  <p>
    <%= collection_select(:delivery, :status_id, Status.all, :id, :name) %>
   </p>
   <!-- <p>
    <%#= collection_select(:delivery, :deliverable_id, Deliverable.all, :id, :number) %>
   </p> -->
  <p>
    <%= f.submit 'update' %>
  </p>
<% end %>

<%= link_to "Back to all deliveries", deliveries_path %></br>
<%= link_to "Back to #{@deliverable.number} deliveries", deliverable_deliveries_path(@deliverable) %>
