.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "All Deliveries")}", deliveries_path
      / %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_delivery_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "Deliveries Progress Charts")
    .inner
      - unless params[:deliverable_id]
        #graph
          = render :partial => "graph_2"
          %br
          = render :partial => "graph"
      %br
      %h2.title
        = t("web-app-theme.all", :default => "Summary Stats")
      - deliveries = @all_deliveries
      %table.table
        %tr
          %td.first Number of complete deliveries
          %td= Delivery.complete(deliveries).to_i
        %tr
          %td Percentage Complete:
          %td#complete= Delivery.percentage_complete(deliveries).round(1)
        %tr
          %td Number of overdue Deliveries
          %td#overdue= Delivery.overdue(deliveries).count
        %tr
          %td To be on schedule,
          %td= Delivery.bsb(deliveries)
        %tr
          %td Total number of deliveries:
          %td= Delivery.all.count
        %tr
          %td Number of late deliveries:
          %td= Delivery.late(deliveries).count
        %tr
          %td Number of deliveries due today:
          %td= Delivery.due_today(deliveries).count
        %tr
          %td Number of deliveries due in the next week:
          %td= Delivery.due_in_next_week(deliveries).count
        %tr
          %td Number of deliveries due in the next two weeks:
          %td= Delivery.due_in_next_two_weeks(deliveries).count
        %tr
          %td Number of deliveries delivered early:
          %td= Delivery.early(deliveries).count
        %tr
          %td Total number of deliverables:
          %td= Deliverable.all.count
      - else
        - if @deliveries.empty?
          %p There are no deliveries for this deliverable
        - else
          - if params[:deliverable_id]
            = render :partial => "deliveries"
/ - content_for :sidebar, render(:partial => 'sidebar')
