!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    = javascript_include_tag "jquery.min", "jquery.flot.min", "excanvas.min", "application"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", 'web-app-theme/base', "web-app-theme/themes/warehouse/style","web-app-theme/override", :cache => true
  %body
    #container
      #header
        %h1 Deliverables Schedule
        #user-navigation
          %ul{:class => "wat-cf"}
            %li 
              = link_to "Account", edit_user_path(:current)
            %li 
              = link_to "Logout", logout_path
        #main-navigation
          %ul{:class => "wat-cf"}
            %li
              = link_to "A46 As Builts", deliverables_path
            - if can? :create, User
              %li= link_to "Users", users_path
      #wrapper{:class => "wat-cf"}
        #main
          = yield
          = notice
        #sidebar
          = yield :sidebar