<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Deliverables: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	
  <%=javascript_include_tag "jquery.min", "jquery.flot.min","excanvas.min", "application" %>

</head>
<body>
  <div id="header">
	Deliverables Schedule - Welcome
	<p>
	<div id="tab-links">
	  
	</div>
	<div id="session-links">
		  <%= link_to "Edit Profile", edit_user_path (:current)%>
		  <%= link_to "Logout", logout_path %>
		  <%= link_to "Deliverables", deliverables_path %>
		  <%= link_to "Deliveries Dashboard", deliveries_path %>
	</div>
  </div>
  <div id="container">
	  <div id="left-column">
  	  <div id="left-menu">
	      <div id="left-menu-header">
		  Tags
	      </div>
	      <div id="left-menu-list">
		    <%#= render :partial => "tag_cloud" %>
		
		    <ul>
		            <%# Tag.all.each do |tag|  %>
		  			  <li><%#=h link_to tag.name, :controller => "deliverables", :action => "list_for_tag", :id => tag.id %></li>
		              <!-- TODO figure out how to link to this through the restful path -->
		            <%# end  %>
		    </ul>
	      </div>
  	  </div>
    </div>
    <div id="right-column">
    	<%= yield %>
    </div>
  </div>

<p style="color: green"><%= notice %></p>



</body>
</html>
