<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Deliverables: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", 'application' %>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	
  <%=javascript_include_tag "jquery.min", "jquery.flot.min", "excanvas.min", "application" %>
  
  <!-- "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", -->

</head>
<body>
  <div id="header">
	Deliverables Schedule - <%#= @current_user.username %>
	<p>
	  <div id="session-links">
		  <%= link_to "Account", edit_user_path(:current)%>
		  <%= link_to "Logout", logout_path %>
		  <% if can? :create, User  %><%= link_to "users", users_path %><% end %>
	  </div>
	  <div id="tab-links">
	    <%= link_to "Deliverables", deliverables_path %>	
	  </div>

  </div>
  <div id="container">
	  <div id="left-column">
  	  <div id="left-menu">
	      <div id="left-menu-header">
		  <h3>Dashboards</h3>
	      </div>
	      <div id="left-menu-list">
		    <%#= render :partial => "tag_cloud" %>
		  <%= link_to "All Deliveries", deliveries_path %>
		    <div id="left-menu-list-tags">
			  <h4>Disciplines</h4>
		      <ul>
			    <% Deliverable.discipline_counts.each do |tag| %>
			      <% unless Deliverable.tagged_with(tag).count < 1 %>
			        <li><%=h link_to tag.name, :controller => "deliverables", :action => "list_for_tag", :id => tag.id %></li>
			      <% end %>
			    <% end %>
			  <!-- TODO do the same for document_type and the rest of the tags -->
		       
		      <!-- <%# Tag.all.each do |tag|  %>
		      		  	    <li><%#=h link_to tag.name, :controller => "deliverables", :action => "list_for_tag", :id => tag.id %></li>
		      		              <!-- TODO figure out how to link to this through the restful path -->
		      		      <%# end %> -->
		      </ul>
		    
		      <h4>Statuses</h4><%= link_to "details", statuses_path %>
		      <ul>
			    <% Status.all(:order => "position").each do |status|%>
			    <li><%= link_to status.name, :controller => "statuses", :action => "list_for_status", :id => status.id %></li>
			    <% end %>
			  </ul>   
		    
		      <!-- <h4>Tags</h4> -->
		      <!-- <ul>
			        <%# Deliverable.tag_counts.each do |tag| %>
				      <li><%#=h link_to tag.name, :controller => "deliverables", :action => "list_for_tag", :id => tag.id %></li><br>
				    <%# end %>	
			      </ul> -->
		    </div>
				
	      </div>
  	  </div>
    </div>
    <div id="right-column">
    	<%= yield %>
    </div>
  </div>

<p style="color: green"><%= notice %></p>



</body>
</html>
